<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>465593019939-605jnt9se1h5tvutp3lc5tagfja8m6o5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.465593019939-605jnt9se1h5tvutp3lc5tagfja8m6o5</string>
	<key>API_KEY</key>
	<string>AIzaSyBNJ5tGkfbilIojqlzsQ419gycrErQzu0s</string>
	<key>GCM_SENDER_ID</key>
	<string>465593019939</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.thoughtQualityRn</string>
	<key>PROJECT_ID</key>
	<string>thought-quality</string>
	<key>STORAGE_BUCKET</key>
	<string>thought-quality.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:465593019939:ios:848e7fd40fe8adaffd8b96</string>
</dict>
</plist>